.auth-form {
  width: 20em;
  max-width: 80%;
  margin: 5em auto;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5em;
} 

.form-control {
  margin-bottom: 1em;
}

.form-actions button {
  background-color: #01d1d1;
  font: inherit;
  border: 1px solid #01d1d1;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin-right: 1em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  /* text-shadow: 1px 1px 2px black; */
}

.form-actions button:hover,
.form-actions button:active {
  background-color: #01a7a7;
  border-color: #01a7a7;
}