body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5em;
} 

.form-control textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 1.25em;
}

.form-control {
  margin-bottom: 1em;
}

.form-actions button,
.btn {
  background-color: #01d1d1;
  font: inherit;
  border: 1px solid #01d1d1;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin-right: 1em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background-color: #01a7a7;
  border-color: #01a7a7;
}